body {
  background-color: #f7f2ee;
}
* {
  padding: 0;
  margin: 0;
}
.rated {
  width: 100%;
  background-color: #ecf494;
  text-align: center;
  padding: 15px 0;
}
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
nav {
  padding-top: 15px;
  width: 100%;
}
ul.navbar {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.navbar li {
  float: left;
}

ul.navbar li a {
  font-size: 20px;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}
.end-nav {
  display: flex;
}
.icons {
  padding-left: 5%;
  list-style: none;
  justify-content: end;
  justify-content: flex-end;
  align-items: center;
}
.take-quiz {
  padding: 10px 15px;
  border-radius: 8px;
  color: wheat;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  background-color: black;
}
.logo {
  padding-right: 3%;
}
.one {
  max-width: 100%;
  background-color: #f7f3da;
  display: flex;
}
.unique-blend {
  min-width: 50%;
  max-width: 100%;
  color: black;
  font-family: Value Serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 500;
  width: 50pc;
}
.section-left {
  margin-top: 5%;
  z-index: 1;
}
.unSplash {
  height: 100%;
  width: 45%;
}
.bottle {
  margin-left: 1%;
  height: 100%;
  width: 40%;
}
.two div p {
  color: gray;
  font-size: 15px;
}
.two {
  width: 100%;
  text-align: center;
  background-color: #f7f3da;
}
.three h2 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.three h1 {
  padding-bottom: 5%;
  font-family: Value Serif Pro;
  font-size: 48px;
}
.three {
  background-color: #ededf5;
  padding-top: 100px;
  text-align: center;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 1px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  background-color: #ededf5;
  color: black;
  border: 1px solid transparent;
  font-size: 20px;
  border-bottom: rgb(194, 194, 194) solid 0.5px;
}
.tabs {
  text-align: center;
  display: flex;
  justify-content: center;
}
.content {
  font-weight: 100;
}
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card-slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.card {
  z-index: 1;
  flex: 0 0 300px;
  margin-right: 20px;
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
}

.card img {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.slider-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-navigation button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.slider-navigation button:hover {
  background-color: #aaa;
}
div .card {
  border-radius: 20px;
}
.card img {
  padding: 30px;
  width: 240px;
  height: 232px;
}
.four {
  background-color: #fcfcf3;
}
.four h1 {
  text-align: center;
  padding-bottom: 5%;
  font-family: Value Serif Pro;
  font-size: 48px;
}
.four h2 {
  padding-top: 10%;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4px;
}
/* CSS */
.button-56 {
  align-items: center;
  background-color: #ecf494;
  border: 1px solid #000000;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: white;
  border-radius: 8px;
  content: "";
  border: 1px solid black;
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

/* Start section five */

.five {
  background-color: #fbfbf9;
  text-align: left;
}

.five .five-card {
  border-radius: 1rem;
}

.five .five-card img {
  width: 98px;
  position: absolute;
}

.checked {
  color: black;
}
.unchecked {
  color: grey;
}

.five p:first-child {
  padding: 20px 0;
}

.five .left-bottom,
.five .left-top {
  position: absolute;
}

.five .left-top {
  top: -51px;
  right: 32px;
}

.five .left-bottom {
  bottom: -50px;
  right: 32px;
}

.five p:last-child {
  padding-top: 0;
}

.sara-jacob {
  background-color: #ededf5;
}
/* .anna-smith img,
.lara-zoe img,
.franklin-jackson img {
  position: ;
} */

/* start section 6 */
.six {
  background: #f7f2ee;
  border-radius: 10px;
  height: 90vh;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/765b0a396912163c0b4347095a2da8e1.png);
}
.six div {
  position: relative;
  z-index: 2;
  margin-top: 2rem;
}
/* end section 6 */

/* start section 7 */
.seven {
  background-color: #f7f2ee;
}
.seven .parent {
  justify-content: center;
  display: flex;
}
.parent p {
  font-size: 20px;
  padding-top: 2rem;
}
.seven p {
  text-align: center;
  padding-top: 2rem;
  font-size: 20px;
}
/* end section 7 */

/* start section 8*/
.eight {
  background-color: #eeedf5;
}
.eight h1,
.eight h1 {
  text-align: center;
  padding-bottom: 5%;
  font-family: Value Serif Pro;
  font-size: 48px;
}
.eight h1,
.eight h2 {
  text-align: center;
  padding-bottom: 1%;
  font-family: Value Serif Pro;
  font-size: 25px;
}
.eight .cards {
  justify-content: center;
  display: flex;
}
.cards .card {
  max-width: 30%;
  min-height: 300px;
  max-height: 350px;
}
.cards .card p {
  color: white;
  margin-top: 100%;
}
/* end section 8 */
/* start section 9*/
.nine h1,
.nine h2 {
  text-align: center;
  padding-bottom: 1%;
  font-family: Value Serif Pro;
  font-size: 25px;
}
.nine h1 {
  padding-bottom: 2rem;
  font-size: 50px;
}
.toggle div div {
  padding: 10px 10%;
  justify-content: center;
  display: flex;
}
.toggle {
  width: 100%;
}
.toggle div div i {
  color: #000000;
  width: 50%;
  padding-left: 200px;
}
/* end section 9 */

/* start footer */
.main-footer {
  display: flex;
}
footer div div h2 {
  text-align: center;
  padding-bottom: 1%;
  font-family: Value Serif Pro;
  font-size: 25px;
}
footer div div h1 {
  text-align: center;
  padding-bottom: 1%;
  font-family: Value Serif Pro;
  font-size: 50px;
}

.footer-left,
.footer-right {
  width: 50%;
}
.social-media {
  padding-top: 3rem;
  justify-content: center;
  display: flex;
}
.social-media i,
.social-media h1 {
  font-size: 40px;
  padding: 10px;
}
.footer-right img {
  width: 100%;
}
/* end footer */
